.CreateProject {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.CreateProjectContent {
    padding: 25px;
    background: white;
    border-radius: 25px;
    min-width: 567px;
    min-height: 677px;
    max-width: 567px;
    max-height: 677px;
}

.CreateProject.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCreate {
    font-family: 'Montserrat Alternates', sans-serif;;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    
}

.header {
    text-align: center;
    font-size: 40px;
    color: #252525;
    font-weight: 500;
}

.nameProject {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    width: 503px;
    height: 57px;
    border-radius: 7px;
    border-color: #7B7B7B;
    background-color: #D9D9D9;
    border-width: 1px;
    padding-left: 15px;
}

.urlProject {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    width: 503px;
    height: 57px;
    border-radius: 7px;
    border-color: #7B7B7B;
    background-color: #D9D9D9;
    border-width: 1px;
    padding-left: 15px;
}

.descProject {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    max-width: 488px;
    max-height: 150px;
    min-width: 488px;
    min-height: 150px;
    border-radius: 7px;
    border-color: #7B7B7B;
    background-color: #D9D9D9;
    resize: none;
    padding: 15px;
}

.buttonCreate {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 387px;
    height: 68px;
    border-radius: 35px;
    border: none;
    background-color: #F66450;
    color: #ffffff;
}

.buttonCreate:hover {
    box-shadow: 0 0 12px #F66450;
    -moz-box-shadow: 0 0 12px #F66450;
    -o-box-shadow: 0 0 12px #F66450;
    -ms-box-shadow: 0 0 12px #F66450;
    -webkit-box-shadow: 0 0 12px #F66450;
}

.create {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: -2%;
}