.main {
    display: flex;
    flex: row;
}

.data {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 30px;
}

.nameP {
    font-weight: 600;
}

.dataLi {
    display: flex;
    flex-direction: row;
    gap: 10px;
}