
.header{
    display: flex;
    width: auto;
    background: #252525;
    height: 50px;
    align-items: center;
    padding-right: 11%;
    padding-left: 11%;
    justify-content: space-between;
}

.menuItem{
    margin-left: 10px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.menuItems{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: auto;
    margin-right: auto;
    margin-left: 8%;
}

