.menuWithLogo{
    display: flex;
    padding-top: 13px;
    padding-left: 13px;
    width: 250px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    line-height: 15px;
    max-width: 250px;
    min-width: 250px;
    height: 120vh;
    background-color: #252525;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.upperMenu{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    justify-content: space-between;
    gap: 40px;
}

.lowerMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 10px;
}

.upperMenuItems{
    display: flex;
    align-items: center;
    max-height: 30px;
}

.upperMenuItemsText{
    width: 170px;
    padding-left: 15px;
    color: #b9b9b9;
}

.upperMenuItemsText:hover {
    color: #ffffff;
}

.MyProject{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    cursor: pointer;
    margin-right: auto;
}

.list{
    list-style-type: none;
}

.empty{
    padding-top: 5%;
}

.listItem{
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.AddProject{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.50);
}
