.report {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 20px;
}

.link {
    color: #414141;
    font-weight: 500;
}

.tableReport {
    display: table;
    border: 1px solid #808080;
    width: 900px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #414141;
}

th {
    color: rgb(255, 255, 255);
    font-weight: 300;
    white-space: 100px;
    height: 40px;
    width: 100px;
}

.template {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%;
}

.formGeneration {
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    color: #252525;
}

.buttonDownloadOne {
    padding-left: 2%;
}

.date {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 350px;
}

.data {
    display: flex;
    flex-direction: column;
    background-image: url(../images/form-input.svg);
    width: 766px;
    height: 401px;
    display: flex;
    column-gap: 50%;
    margin-left: 20px;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
}

.button1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background-color: #f55656;
    margin: 5% 0;
    width: 30vh;
    height: 5vh;
}

.button2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    background-color: #f55656;
    width: 20vh;
    height: 5vh;
}

.buttonDownloadReport2 {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(150, 178, 255);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    
    transition: 0.3s linear;
    margin-top: 5px;
}

.buttonDownloadReport2:hover {
    background-color:#ff6f5c;
    cursor: pointer;
    width: 250px;
    border-radius: 25px;
}

.buttonDownloadReport1 {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(150, 178, 255);
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    
    transition: 0.3s linear;
    margin-top: -10px;
}

.buttonDownloadReport1:hover {
    background-color:#ff6f5c;
    cursor: pointer;
    width: 300px;
    border-radius: 25px;
}

.header {
    display: flex;
    flex-direction: column;
}

.headerText {
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
    opacity: 70%;
    text-align: left;
    margin-bottom: 0.5%;
    display: inline-block;
    text-shadow:
    1px 1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
    -1px -1px 1px white;
    color: #252525;
    transition: all 1s;
}

.headerText:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #252525;;
    bottom: .10em;
    transition: all 1s;
}

.headerText:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

.line {
    margin-left: -20px;
    height: auto;
    width: auto;
}

.generate {
    margin-left: 2%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.choosen {
    font-family: 'Montserrat Alternates', sans-serif;
}

.generateReport {
    color: white;
}

.loading {
    display: flex;
    font-weight: 500;
}

.loader {
    margin-top: 70px;
}