.seo {
    color: #252525;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 20px;
}

.header {
    display: flex;
    flex-direction: column;
}

.Head {
    font-size: 20px;
    font-weight: 600;
    color: #252525;
}

.headerText {
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
    opacity: 70%;
    text-align: left;
    margin-bottom: 0.5%;
    display: inline-block;
    text-shadow:
    1px 1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
    -1px -1px 1px white;
    color: #252525;
    transition: all 1s;
}

.headerText:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #252525;;
    bottom: .10em;
    transition: all 1s;
}

.headerText:hover:after {
    width: 0%;
    border-bottom-width: 1px;
  }

.line {
    margin-left: -20px;
    height: auto;
    width: auto;
}

.input {
    margin-left: 3%;
    width: auto;
}

.textInputSeo {
    width: 700px;
    height: 140px;
    font-size: 15px;
    color: #808080;
    border-radius: 15px;
    padding-left: 2%;
    padding-top: 2%;
    resize: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

.start {
    background-image: url(../images/form-input.svg);
    width: 766px;
    height: 401px;
    display: flex;
    column-gap: 50%;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 40px;
}

.inputWarning {
    font-size: 15px;
    font-weight: 500;
    color: #808080;
}

.inputButton2:hover:disabled {
    background-color: rgb(119, 119, 119);
    cursor: default;
}

.inputButton2:disabled {
    background-color: rgb(119, 119, 119);
    cursor: default;
}

.inputButton2 {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(164, 196, 255);
    width: 250px;
    height: 51px;
    border-radius: 15px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms linear 50ms;
}

.inputButton2:hover {
    background-color: rgb(137, 164, 255);
    cursor: pointer;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.tableSeo {
    display: table;
    border: 1px solid #808080;
    width: 900px;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: #414141;
    border-radius: 25px;
    margin-left: 1%;
    margin-top: 3%;
}

th {
    color: rgb(63, 63, 63);
    font-weight: 300;
    white-space: 100px;
    height: 40px;
    width: 100px;
}

.nameColumn {
    font-weight: 400;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    font-weight: 600;
}

.dataTable {
    border: 1px solid #808080;
    width: 500px;
    height: 300px;
    font-size: 14px;
    color: #414141;
    border-radius: 25px;
    margin-left: 2%;
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}