.advertisingHeader{
    border-radius: 20px;
    background: #F66450;
    color: white;
    border: none;
    height: 30px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}

.advertisingHeader:hover{
    background: #252525;
    color: #ffffff;
	box-shadow: inset 0 0 0 2px #ffffff;
}